body {
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.logoIcon {
  width: auto;
  height: 1.5rem;
}

.nav-color {
  background-color: blue;
}

.nav-color a {
  color: white;
  font-weight: 900;
}

.todoListBox {
  width: 40rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  height: 98vh;
}

.todoItems {
  margin-top: 5px;
  height: 78vh;
  padding: 0px 10px;
  overflow: scroll;
}

.todoItem {
  border: 2px solid transparent;
  border-radius: 1rem;
  margin: 6px 0;
  padding: 10px 0;
  font-size: 1.5rem;
  cursor: pointer;
  animation: todoAnimate 1 ease-in-out 0.2s;
  transition: 0s;
}

@keyframes todoAnimate {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.check {
  transform: scale(1.5);
}

.itemShadow {
  background: rgb(255, 0, 191);
  color: #fff;
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 0, 191, 1) 0%,
    rgba(99, 8, 161, 1) 50%,
    rgba(105, 0, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 0, 191, 1) 0%,
    rgba(99, 8, 161, 1) 50%,
    rgba(105, 0, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 0, 191, 1) 0%,
    rgba(99, 8, 161, 1) 50%,
    rgba(105, 0, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00bf",endColorstr="#6900ff",GradientType=1);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.modal-backdrop{
  width: 100%;
}